:root{
  --gap: 18px;
  --card-bg: #ffffff;
  --muted: #666;
  --accent: #0c5bd1;
}
.main-container{
  width: full;
  margin: 28px auto;
  padding: 2px 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  align-items: start;
  min-height: 80vh;
  box-sizing: border-box;
}
.page{
  background: #f6f1f1;
  padding: 12px;
  border-radius: 8px;
}
#products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.product-card{
  background: #beb7b7;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0,0,0,0,0.6);
}
.product-card img{
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 8px;
}
.product-title{
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.product-price{
  font-weight: 600;
  margin-bottom: 6px;
}
.product-description{
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 2px;
}
.btn{
  padding: 8px, 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.08s ease, box-shadow 0.08s;
}
.btn-add{
  padding: 8px;
  background: var(--accent);
  color:white;
}
.btn-add:hover{ 
  transform: translateY(-2px); 
  background: mediumblue;
  box-shadow: 0 6px 12px rgba(31,111,235,0.12); 
}
.btn-add:active{ 
  transform: translateY(0); 
}

.page-cart{
  position: sticky;
  top: 18px;
}
.btn-remove{
  margin: 5px;
  background: #ef4444;
  color: white;
  padding: 6px;
}
.btn-remove:hover{
  background-color: aqua;
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(239,68,68,0.12);
}
.btn-remove:active{ 
  transform: translateY(0); 
}



@media (max-width: 768px) {
  .main-container{
    grid-template-columns: 1fr;
  }
}